body {
  background-color: green;
}

.card {
  width: 250px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  margin: auto;
  margin-top: 100px;
  box-shadow: 2px 2px 10px;
  padding: 1px 8px;
}

#numeroAleatorio {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  margin-top: 100px;
  margin-left: 20px;
  margin-bottom: 20px;
}

#up {
  font-size: 5rem;
  float: left;
}

#down {
  font-size: 5rem;
  float: right;
  transform: rotate(180deg);
}
